<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSBC 2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FB10B0E1F2DD83A005F5DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB10B241F2DD83B005F5DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB10B2F1F2DD83B005F5DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
